<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Detail NAMA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style/divisijabatan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url(assets/images/LogoDPM.png);
        }

       
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-info" id="navbar">
        <div class="container-fluid" style="background-color: black; border-radius: 10px;margin-left: 5px; margin-right: 5px;">
            <a class="navbar-brand text-light" href="index.php">
                <img src="assets/images/20220129_214924.png" height="40" alt="logo.png" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 1300px;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="index.php">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="tambah.php">Tambah Pengurus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="divisi.php">Daftar Divisi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="jabatan.php">Daftar Jabatan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 pt-3" >
        <div class="row" style="background-color: #055160; margin-top: 50px; border-radius: 30px; width: 855px;">
            <div class="col-8">    
                <div class="col-4" style="width: 730px; margin-left: 50px;">
                    <div class="card my-5">
                        <div class="card-header text-center" style="width: 700px;">
                            <h3 class="my-0">DATA_TITLE Data</h3>
                        </div>
                        <div class="card-body" style="width: 700px;">
                            <form action="" method="post" style="width: 700px;" border="3">
                                <div class="mb-3" style="width: 700px;">
                                    <label for="nama" class="form-label">Nama DATA_FORM_LABEL</label>
                                    <input type="text" class="form-control" id="nama" name="nama" value="DATA_VAL_UPDATE" placeholder="Masukkan nama.." required>
                                </div>
                                <div class="text-end" style="width: 700px;">
                                    <button type="submit" class="btn btn-info text-white" name="submit" id="submit" style="background-color: #055160;">DATA_BUTTON</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card my-5 mx-5" style="width: 730px;">
                    <div class="card-header text-center">
                        <h3 class="my-0">Daftar DATA_MAIN_TITLE</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-stripped table-bordered text-center">
                                <thead class="table-info">
                                    DATA_TABEL_HEADER
                                </thead>
                                <tbody>
                                        DATA_TABEL
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="assets/scripts/script.js"></script>
</body>

</html>