<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta nama="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Ormawa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style/index.css">
    <style>
       

        body {
            font-family: 'Poppins', sans-serif;
            background-image: url(assets/images/LogoDPM.png);
        }

        #navbar {
            color: white;
            border-radius: 10px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
        }

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-info" id="navbar" >
        <div class="container-fluid" style="background-color: black; border-radius: 10px;margin-left: 5px; margin-right: 5px;">
            <a class="navbar-brand text-light" href="index.php">
                <img src="assets/images/20220129_214924.png" height="40" alt="logo.png" class="d-inline-block align-text-top">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 1300px;">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="index.php">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="tambah.php">Tambah Pengurus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="divisi.php">Daftar Divisi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="jabatan.php">Daftar Jabatan</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 py-3">
        <div class="row mt-3" id="pengurus" style="color: aliceblue; text-align: center; margin-top: 100px;">
            <div class="row">
                <h3>Daftar Pengurus</h3>
            </div>
            <div class="row" style="text-align: center; margin-left: 200px;">
                DATA_PENGURUS
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>